<div class="f-col">
  <div class="group f-col m16" [style.background-color]="getBackgroundColor()">
    <button mat-raised-button color="primary" [disabled]="isHostButtonDisabled()" (click)="onHostClicked()">
      {{ "preparation.host.button" | translate }}
    </button>

    <div *ngIf="gameCode" class="f-col">
      <p>
        {{ "preparation.host.share" | translate }}
      </p>

      <h1>
        {{ gameCode }}

        <button mat-icon-button (click)="onCopyGameCodeClicked()">
          <mat-icon *ngIf="!copiedGameCode">content_copy</mat-icon>
          <mat-icon *ngIf="copiedGameCode" color="accent">check</mat-icon>
        </button>

        <button mat-icon-button (click)="onCopyLinkClicked()">
          <mat-icon *ngIf="!copiedLink">link_2</mat-icon>
          <mat-icon *ngIf="copiedLink" color="accent">check</mat-icon>
        </button>
      </h1>

      <p>
        {{ "preparation.host.waiting" | translate }}
      </p>
    </div>
  </div>

  <div *ngIf="player !== 'host'" class="group f-col m16" [style.background-color]="getBackgroundColor()">
    <form>
      <mat-form-field>
        <mat-label>{{ "preparation.guest.label" | translate }}</mat-label>
        <input matInput
              [placeholder]="'preparation.guest.placeholder' | translate"
              [formControl]="gameCodeControl">
        <mat-error>{{ getGameCodeError() | translate }}</mat-error>
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" [disabled]="isJoinButtonDisabled()" (click)="onJoinClicked()">
      {{ "preparation.guest.button" | translate }}
    </button>
  </div>
</div>
