mat-slide-toggle {
  margin: 6px;
}

.option-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.panel {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 2px;
  opacity: 25%;
}

.panel-selected {
  width: 36px;
  height: 36px;
  opacity: 100%;
}

.cell {
  margin-top: 4px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.mat-mdc-form-field-subscript-wrapper {
  visibility: collapse;
}
